*.jpg
*.png
*.gif
*.pdf
/admin/images
/admin/Classes
/admin/check
/admin/editor

/resources/images/admin/
/resources/fonts/admin/
/storage/cache/
/storage/captcha/
/storage/compiled/
/storage/session/
/storage/upload/
/vendor
.env