#index{

	.block.list{
		
		ul.row{
			width:90%;
			margin:10px auto;
			padding:10px;			
		}

	}	

	hr{
		width: 90%;
		margin:auto;
		border:1px #EEE double;
	}

	div.block-title{
		width:90%;
		margin:20px auto;
		font-size:21px;
		color:#666666;
		font-weight: bold;
		line-height: 30px;
		i{
			color:#123681;
			font-size:1.2em;
		}
	}

	.data-block{
		width: 99%; 
		margin:10px auto;
		font-size:16px;
		line-height: 2;
		text-align: center;
		border:1px #123681 solid;
		border-radius: 5px;

		> div{
			padding:5px;
		}

		.title{
			background:#123681;
			color:#FFFFFF;
		}
		.inner{
			color:#333;
			line-height: 30px ;
			i{
				font-weight:bold;
				color:red;
				font-size: 1.2em;
			}
		}
	}

}

